* {
    box-sizing: border-box;
    font-family: fantasy;
}

h1 {
    margin-bottom: 15px;
}

.row {
    width: 100%;
}

.dish-1, .dish-2, .dish-3 {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 12em;    
    margin-top: 10px;
    margin-right: 10px;
    text-align: center;
    border: 1px solid black;
}

.dish-1 {
    background-color: rgb(214, 93, 22);
}

.dish-2 {
    background-color: rgb(184, 4, 4);
}

.dish-3 {
    background-color: rgb(184, 142, 4);
}

.dish-descr {
    margin: 10px; 
    padding: 2em 10px 10px 10px; 
    border: 1px solid black;
    background-color: rgb(168, 166, 163);    
}

.menu-item-dsktp, .menu-item-tblt, .menu-item-mbl {
    float: left;
    position: relative;
}

/* Desktop */
@media (min-width: 992px) {
    .menu-item-dsktp {
        width: 33%;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
    .menu-item-tblt {
        width: 50%;
    }

    .menu-item-tblt-last {
        width: 100%;
    }
}

/* Mobile */
@media (max-width: 767px) {
    .menu-item-mbl {
        width: 100%;
    }
}
